@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: #121212 ;
}

::-webkit-scrollbar{
  background-color: black;
  width: 2px;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  @apply bg-green-500;
}

.react-calendar {
  background-color: #1D1D1D !important;
  color: white;
  border-radius: 0.5rem;
  border: 0 !important;
  @apply p-4 rounded-lg shadow-md;
}
.react-calendar__tile--active {
  background-color: #C0FF73 !important;
  color: black !important;
}